<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <script src="../ex3.js"></script>
    <title>Module 11</title>
</head>
<body>
<nav class="menu">
    <a href="../index.html">Задание 1</a>
    <a href="exercise2.html">Задание 2</a>
    <a class="active" href="exercise3.html">Задание 3</a>
    <a href="exercise4.html">Задание 4</a>
    <a href="exercise5.html">Задание 5</a>
</nav>
<div class="content">
    <h3>Модуль 11. Решения заданий</h3>
    <div class="content-center">
        <h4>Задание 3.</h4>
        <p>
            Написать функцию, которая принимает число как аргумент и возвращает функцию, которая также принимает
            число как аргумент и возвращает сумму этих двух чисел. Выведите в консоль результат.
        </p>
    </div>
    <h4>Решение</h4>
    <pre class="code">
function addNum(n) {
    return function (m) {
        return n + m
    }
}

const func = addNum(3)
console.log(func(8))

</pre>
</div>
</body>
</html>
